---
import PageLayout from "@/layouts/PageLayout.astro";
import siteData from "../data/site.json";
import { getCollection } from "astro:content";

const work = await getCollection("work").then((work) =>
  work.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);

const projects = await getCollection("projects").then((projects) =>
  projects.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);
---

<PageLayout
  title={siteData.title}
  description={siteData.description}
  dateUpdated="2025-01-23"
>
  <p>
    Software designer focused on creating better tools for developers and
    designers. I'm passionate about systems thinking and crafting intuitive
    interfaces. Outside of work, you'll find me building side projects,
    exploring new tech, cycling, hiking, and mastering From Software games.
  </p>

  <h2>Work</h2>

  <ul class="marker:content-[''] [&>li+li]:mt-4">
    {
      work.map(({ id, data }) => (
        <li>
          <div>
            <a href={`/work/${id}`}>{data.title}</a>
            <span class="text-secondary">·</span>
            <span class="text-secondary">{data.role}</span>
            <span class="text-secondary">·</span>
            <span class="text-secondary">{data.timeframe}</span>
          </div>
          <p>{data.longDescription}</p>
        </li>
      ))
    }
  </ul>

  <h2>Projects</h2>

  <ul class="marker:content-[''] [&>li+li]:mt-2">
    {
      projects.map(({ id, data }) => (
        <li>
          <a href={`/projects/${id}`}>{data.title}</a>
          <span class="text-secondary">·</span>
          <span class="text-secondary">
            {data.description.replace(/\.$/, "")}
          </span>
          <span class="text-secondary">·</span>
          <span class="text-secondary">
            {new Date(data.date).toLocaleDateString("en-US", {
              month: "numeric",
              year: "2-digit",
            })}
          </span>
        </li>
      ))
    }
  </ul>

  <h2>Contact</h2>
  <p>
    Available at <a href="mailto:me@kkga.me">me@kkga.me</a>
    <span class="text-secondary">·</span>
    <a href="https://twitter.com/kkga" target="_blank" rel="me">X</a>
    <span class="text-secondary">·</span>
    <a href="https://bsky.app/profile/kkga.me" target="_blank" rel="me"
      >Bluesky</a
    >
  </p>
</PageLayout>
