---
import PageLayout from "@/layouts/PageLayout.astro";
import siteData from "../data/site.json";
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";

const TRAILING_DOT_REGEX = /\.$/;
const removeTrailingDot = (str: string) => str.replace(TRAILING_DOT_REGEX, "");

const work = await getCollection("work").then((work) =>
  work.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);

const projects = await getCollection("projects").then((projects) =>
  projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<PageLayout
  title={siteData.title}
  description={siteData.description}
  dateUpdated="2025-01-23"
>
  <h2>Work</h2>

  <ul
    class="col-[bleed] container grid list-none grid-cols-subgrid gap-5 *:md:col-span-2"
  >
    {
      work.map(({ id, data }) => (
        <Card
          href={`/work/${id}`}
          cover={data.cover}
          title={data.title}
          subtitle={`${data.role} ${data.timeframe}`}
          description={removeTrailingDot(data.longDescription) + "."}
        />
      ))
    }
  </ul>

  <hr />

  <h2>Projects</h2>

  <ul
    class="col-[bleed] grid list-none grid-cols-subgrid gap-5 *:md:col-span-2 *:xl:col-span-1"
  >
    {
      projects.map(({ id, data }) => (
        <Card
          href={`/projects/${id}`}
          cover={data.cover}
          title={data.title}
          subtitle={new Date(data.date).toLocaleDateString("en-US", {
            year: "numeric",
          })}
          description={removeTrailingDot(data.description) + "."}
        />
      ))
    }
  </ul>
</PageLayout>
