---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainHeader from "../components/MainHeader.jsx";
import Listing from "../components/Listing.jsx";
import metadata from "../data/metadata.json";
import { toSlug } from "../utils.js";

let work = Astro.fetchContent("./work/*.md");
work = work.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);

let projects = Astro.fetchContent("./projects/*.md");
projects = projects.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);

let notes = Astro.fetchContent("../data/notes/*.md").map(
  (note) => (note = { ...note, url: `/notes/${toSlug(note.title)}` })
);
notes = notes.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);
---

<BaseLayout>
  <MainHeader slot="header" title={metadata.shortTitle}>
    <span>{metadata.description} <a href="/about">More about me</a>.</span>
  </MainHeader>
  <div class="col-start-2 flex flex-col gap-12">
    <Listing title={"Work"} description="Professional projects" items={work} />
    <Listing title={"Play"} items={projects} />
    <Listing title={"Notes"} items={notes} />
  </div>
</BaseLayout>
