---
import PageLayout from "@/layouts/PageLayout.astro";
import siteData from "../data/site.json";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const work = await getCollection("work").then((work) =>
  work.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);

const projects = await getCollection("projects").then((projects) =>
  projects.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);
---

<PageLayout
  title={siteData.title}
  description={siteData.description}
  dateUpdated="2025-01-23"
>
  <p>
    Software designer focused on creating better tools for developers and
    designers. I'm passionate about systems thinking and crafting intuitive,
    efficient interfaces. Outside of work, I'm usually building side projects,
    diving into emerging tech, cycling up hills, hiking remote trails, or
    chasing mastery in FromSoftware games.
  </p>

  <h2>Work</h2>

  <ul class="col-[breakout] -mx-3 -my-3 grid sm:grid-cols-2 md:grid-cols-3">
    {
      work.map(({ id, data }) => (
        <li class="flex">
          <a
            href={`/work/${id}`}
            class="flex grow flex-col p-3 no-underline hover:bg-secondary/10"
          >
            <Image
              src={data.cover}
              alt={data.title}
              class="mb-2 w-full object-cover"
            />
            <div>
              <span class="uppercase">{data.title}</span>
              <span class="block text-secondary">
                {data.role} · {data.timeframe}
              </span>
            </div>
            <p class="text-secondary">{data.longDescription}</p>
          </a>
        </li>
      ))
    }
  </ul>

  <h2>Projects</h2>

  <ul
    class="col-[breakout] -mx-3 -my-3 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      projects.map(({ id, data }) => (
        <li class="flex">
          <a
            href={`/projects/${id}`}
            class="flex grow flex-col p-3 no-underline hover:bg-secondary/10"
          >
            <Image
              src={data.cover}
              alt={data.title}
              class="mb-2 w-full object-cover"
            />
            <span>
              <span class="uppercase">{data.title}</span>
              <span class="text-secondary">
                ·{" "}
                {new Date(data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                })}
              </span>
            </span>
            <p class="text-secondary">{data.description.replace(/\.$/, "")}.</p>
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
