---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

const { title, description, dateUpdated, frontmatter } = Astro.props;
const metaTitle = frontmatter?.title || title;
const metaDescription = frontmatter?.description || description;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={metaTitle} description={metaDescription} />
  </head>

  <body>
    <Header title={metaTitle} description={metaDescription} />
    <main>
      <slot />
    </main>
    <Footer dateUpdated={dateUpdated} />
  </body>
</html>
