---
import BaseLayout from "./BaseLayout.astro";
import PageHeader from "../components/PageHeader.jsx";
import metadata from "../data/metadata.json";
import { formatDateFull } from "../utils.js";

const { content } = Astro.props;
const { title, description, tags, date, author, heroImage, permalink, alt } =
  content;
---

<BaseLayout {title}>
  <PageHeader slot="header" {description} {date} {tags} />

  <header class="mb-20">
    <h1 class="text-center">{title}</h1>
  </header>

  <slot />
</BaseLayout>
