---
import BaseLayout from "./BaseLayout.astro";
import metadata from "../data/metadata.json";
import { formatDateFull } from "../utils.js";

const { content } = Astro.props;
const { title, description, tags, date, author, heroImage, permalink, alt } =
  content;
---

<BaseLayout {title}>
  <div slot="nav">
    <a href="/" class="inline-block uppercase font-bold">kkga</a>
  </div>

  <div slot="header">
    <div class="mb-20 text-gray-500 italic">
      {description && <p class="m-0">{description}</p>}

      <div class="flex">
        <date>{formatDateFull(date)}</date>

        {tags && (
          <span class="mx-2">/</span>
          <ul class="inline m-0 list-none">
            {tags.map((tag) => {
              const tagUrl = `/tags/${tag}`;

              return (
                <li className="m-0 inline">
                  <a href={tagUrl}>#{tag}</a>
                </li>
              );
            })}
          </ul>
        )}
      </div>
    </div>

    <h1>{title}</h1>
  </div>

  <slot />
</BaseLayout>
