---
import BaseLayout from "./BaseLayout.astro";
import MainHeader from "../components/MainHeader.jsx";
import PageTitle from "../components/PageTitle.jsx";
import { formatDateFull } from "../utils.js";

const { content, showTitle = true } = Astro.props;
const { title, description, tags, date } = content;
---

<BaseLayout {title} {description}>
  <MainHeader slot="header" {description} {date} {tags} />

  <div class="col-start-2">
    {showTitle && (
      <PageTitle {title} />
    ) }

    <slot />
  </div>
</BaseLayout>
