---
import BaseLayout from "./BaseLayout.astro";
import MainHeader from "../components/MainHeader.jsx";
import PageTitle from "../components/PageTitle.jsx";

const { content, showTitle = true } = Astro.props;
const { title, description, tags, date } = content;
---

<BaseLayout {title} {description}>
  <MainHeader slot="header" {description} {date} {tags} />

  <div class="col-start-2">
    <article className="sm:text-base">
      {showTitle && <PageTitle {title} /> }
      <slot />
    </article>
  </div>
</BaseLayout>
