---
import BaseLayout from "./BaseLayout.astro";
import MainHeader from "../components/MainHeader.jsx";
import PageTitle from "../components/PageTitle.jsx";
import Toc from "../components/Toc.jsx";

const { content, showTitle = true } = Astro.props;
const { title, description, tags, date } = content;
const headers = content.astro?.headers?.filter((h) => h.depth <= 2);
---

<BaseLayout {title} {description}>
  <MainHeader slot="header" {description} {date} {tags} />
  {headers?.length > 0 &&
    <div class="hidden lg:block sticky top-4 self-start text-right col-end-4">
      <Toc {headers} />
    </div>
  }
  <article class="col-start-2 z-10">
    {showTitle && <PageTitle {title} /> }
    <slot />
  </article>
</BaseLayout>
