---
import BaseLayout from "./BaseLayout.astro";
import MainHeader from "../components/MainHeader.jsx";
import PageTitle from "../components/PageTitle.jsx";
import RelevantPages from "../components/RelevantPages.astro";
import { formatDateFull } from "../utils.js";

// const allPages = Astro.fetchContent("/src/pages/notes/*.md");

const { content, showTitle = true } = Astro.props;
const { title, description, tags, date } = content;
---

<BaseLayout {title} {description}>
  <MainHeader slot="header" {description} {date} {tags} />

  <article>
    {showTitle && <PageTitle {title} /> }
    <slot />
  </article>

  <!--{tags && tags.map((tag) => <RelevantPages {tag} /> )}-->

  <div class="float-right mt-8 text-gray-500 italic text-right">
    <hr class="my-2" />
    {date && <time dateTime={date}>{formatDateFull(date)}</time>}
    {tags && (
      <ul class="gap-2 m-0 list-none">
        {tags.map((tag) => {
          const tagUrl = `/tags/${tag}`;

          return (
            <li key={tagUrl} class="m-0 inline">
              <a href={tagUrl}>#{tag}</a>
            </li>
          );
        })}
      </ul>
    )}
  </div>
</BaseLayout>
